<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.grts.dao.DeptBeanMapper">
	<resultMap id="BaseResultMap" type="com.grts.pojo.DeptBean">

		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">

		id, name, memo
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">

		select
		<include refid="Base_Column_List" />
		from t_dept
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

		delete from t_dept
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.grts.pojo.DeptBean">

		insert into t_dept (id, name, memo
		)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{memo,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.grts.pojo.DeptBean">

		insert into t_dept
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="memo != null">
				memo,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.grts.pojo.DeptBean">

		update t_dept
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				memo = #{memo,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.grts.pojo.DeptBean">

		update t_dept
		set name = #{name,jdbcType=VARCHAR},
		memo = #{memo,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="query" resultType="deptbean" parameterType="com.grts.dto.UserDto">
		select * from t_dept where 1=1
		<if test="keywords!=null">
			and name like "%" #{keywords} "%"
		</if>
	</select>

	<select id="queryPage" resultType="deptbean">
		select * from t_dept
	</select>
	
	<select id="selectDeptByName" resultType="deptbean" parameterType="String">
		select * from t_dept where name=#{name}
	</select>
</mapper>